$primary-color: #fe5767;
$gray-1-color: #a5a2a2;
$gray-2-color: #b0b0b0;
$gray-3-color: #f2f2f2;
$gray-4-color: #ededed;
$white-1-color: #fff;
$black-1-color: #181818;
$black-2-color: #2e2d2d;
$shadow-1-color: rgba(0, 0, 0, 0.5);
$yellow-1-color: #ffb42e;
$blue-1-color: #1877f2;
$orange-1-color: #de4b3b;
