<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 tablet">
          <a [routerLink]="['/products']" class="footer__link">Sản phẩm</a>
          <a [routerLink]="['/home']" class="footer__link">Hỗ trợ</a>
          <a [routerLink]="['/home']" class="footer__link">Bài viết</a>
          <a [routerLink]="['/home']" class="footer__link">Về chúng tôi tôi</a>
          <a [routerLink]="['/home']" class="footer__link">Liên hệ</a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 tablet">
          <a [routerLink]="['/home']" class="footer__link">FAQ</a>
          <a [routerLink]="['/home']" class="footer__link"
            >Giao hàng và Hoàn trả</a
          >
          <a [routerLink]="['/home']" class="footer__link"
            >Chính sách mua hàng</a
          >
          <a [routerLink]="['/home']" class="footer__link"
            >Phương thức thanh toán</a
          >
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="follow">
            <form action="">
              <div class="subcribe">
                <input
                  type="email"
                  class="subcribe__input"
                  placeholder="Email của bạn *"
                  required
                />
                <input type="submit" class="subcribe__btn" value="Đăng ký" />
              </div>
            </form>
            <div class="social">
              <a href="" class="social__link">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="" class="social__link">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="" class="social__link">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="" class="social__link">
                <i class="fab fa-google"></i>
              </a>
              <a href="" class="social__link">
                <i class="fab fa-pinterest-p"></i>
              </a>
              <a href="" class="social__link">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">&copy;2021 by Nguyễn Ngọc Lễ</div>
</footer>
