@import "../../../assets/scss/variables";
@import "../../../assets/scss/base";
@import "../../../assets/scss/responsive";
#minicart:checked ~ .minicart {
  display: block;
}

.minicart {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  overflow: hidden;
  width: 500px;
  background: $white-1-color;
  box-shadow: 0 2px 2px $shadow-1-color;
  border-radius: 2px;
  @include tablet {
    position: fixed;
    top: 15%;
    left: 0;
    right: 0;
    width: 100%;
  }
  @include mobile {
  }
  &__heading {
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  &__close {
    display: block;
    margin-left: auto;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
  }
  &__null {
    color: $primary-color;
    letter-spacing: 2px;
    text-transform: lowercase;
    text-align: center;
    display: block;
    height: 50px;
    line-height: 50px;
    user-select: none;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow: auto;
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar {
      width: 4px;
      background-color: $primary-color;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
      border-radius: 2px;
    }
  }
  &__item {
    display: flex;
    height: 50px;
    padding: 5px;
    color: $black-1-color;
    border-bottom: 1px solid $gray-1-color;
    &__img {
      width: 50px;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 5px;
      border: 1px solid $gray-1-color;
    }
    &__info {
      display: flex;
      flex-direction: column;
      width: 75%;
    }
    &__link {
      color: #181818;
      display: -webkit-box;
      text-transform: capitalize;
      font-size: 14px;
      overflow: hidden;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      transition: all linear 0.25s;
      text-decoration: none;
    }
    &__group {
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: 12px;
      color: $primary-color;
    }
    &__btn {
      background: transparent;
      margin: 0 auto;
      border: none;
      outline: none;
    }
  }
  &__group {
    display: flex;
    align-items: center;
  }
  &__btn {
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: $primary-color;
    margin: 10px;
    color: $white-1-color;
    border-radius: 2px;
    box-shadow: 0 2px 2px $shadow-1-color;
    transition: all linear 0.25s;
    &:hover {
      filter: brightness(90%);
    }
  }
  &__total {
    color: $primary-color;
    font-size: 16px;
    font-weight: 500;
    margin-left: auto;
    margin-right: 20px;
  }
}
